# Node
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv

# Misc
.DS_Store
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
